# OS X stuff
.DS_Store
#
# Sake stuff
.shastore
# R stuff
.RData
.Rhistory

# Output
*.pdf
*_cache/
*_files/
tables/*
figures/*

# Data
Data/Human_Trafficking_NGOs_survey*
Data/responses.RData
Data/responses_*.csv
Data/permission_given.csv
Data/Raw*
convert_to_stata/Original/*
convert_to_stata/Final/*

# Packrat
.Rproj.user
packrat/lib*/
packrat/src/
